################################################################################
# 此 .gitignore 文件已由 missFox 手动创建。
################################################################################
/Sample-FTP/Logs/*.log
/Sample-FTP/Files
